@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

/* Style géneral boutton */
button {
    width: 130px;
    height: 40px;
    background: linear-gradient(to bottom, #4eb5e5 0%,#389ed5 100%); /* W3C */
    border: none;
    border-radius: 5px;
    position: relative;
    border-bottom: 4px solid #2b8bc6;
    color: #fbfbfb;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 1px 1px 1px rgba(0,0,0,.4);
    font-size: 15px;
    text-align: center;
    text-indent: 5px;
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2);
    cursor: pointer;
  
  /* Just for presentation */  
    display: auto;
    margin: 0 auto;
  }
  
  /* Style customizé */
  
  button.blue {
      background: linear-gradient(to bottom, #4eb5e5 0%, #389ed5 100%); /* W3C */
      border-bottom: 4px solid #2b8bc6;
  }
  
  button.red {
      background: linear-gradient(to bottom, rgba(245,104,104,1) 0%, rgba(250,45,66,1) 100%);
      border-bottom: 4px solid #C81E2F;/* W3C */
  }

  button.green {
    background: linear-gradient(to bottom, rgba(0,170,170,1) 0%, rgba(0,128,128,1) 100%);
    border-bottom: 4px solid #006D6D;/* W3C */
}