/*
	primary item color: #F0134D
	secondary item color: #FF6F5E
	third item color: #F5F0E3
	4th  color: #40BFC1

	text, border: #3C4245;

	On pourrait utiliser les variables CSS3 pour cela
*/
body {
	background: url('white-sand.png')
}

iframe {	
	display: none;
	width: 98%;
	height: 70%;
	border: #ddd solid 2px;
	border-radius: 5px;
	margin: 10px;
	transform: scale(0.90);
}

h1, h3 {
	color: #3C4245;
	text-align: center;
}

form.ftri {
	text-align: center;
}
