/*
	primary item color: #F0134D
	secondary item color: #FF6F5E
	third item color: #F5F0E3
	4th  color: #40BFC1

	text, border: #3C4245;

	On pourrait utiliser les variables CSS3 pour cela
*/
body {
	background: url('white-sand.png')
}

iframe {	
	display: none;
	width: 98%;
	height: 70%;

	margin: 10px;
	transform: scale(0.90);
}

h1, h3 {
	color: #3C4245;
	text-align: center;
}

form.ftri {
	text-align: center;
}

select {
	width: 130px;
	height: 40px;
	font-weight: 800;
	font-size: 16px;
	font-family: "Open Sans", sans-serif;
	text-shadow: 1px 1px 1px rgba(0,0,0,.4);

	background: linear-gradient(to bottom, #FCF9F0 0%, #F5F0E3 100%);
	border: none;
	box-sizing: border-box;
	border-radius: 5px;
	border: solid 1px #3C4245;
	border-bottom: 4px solid #8c8677;
	box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2);
}
