
body {
    padding-top: 80px;
    text-align: center;
    font-family: monaco, monospace;
    background-size: cover;
  }
  h1, h2 {
    display: inline-block;
    background: #fff;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
  }
  span {
    background: #fd0;
  }
  
  ul {
    list-style-type: none;
    margin: 2em;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
  li {
    float: left;
    width: 48px;
    height: 48px;
    background-color: red;
    border: solid black 1px;
    display: block;
    position: relative;
  }
  
  .tab {
    margin: 1em;
  }
  
  