/*
	primary item color: #F0134D
	secondary item color: #FF6F5E
	third item color: #F5F0E3
	4th  color: #40BFC1

	text, border: #3C4245;

	On pourrait utiliser les variables CSS3 pour cela
*/

body {
	padding-top: 50px;
	text-align: center;
	font-family: monaco, monospace;
	background-size: cover;
}
h1, h2 {
	display: inline-block;
}
h1 {
	font-size: 30px;
}
h2 {
	font-size: 20px;
}
span {
	background: #fd0;
}


#titre {	
	margin-bottom : 30px;
}

#description {
	margin-bottom : 30px;
}

.div_form {
	padding-top: 50px;
	float: left;
	width: 50%;
	height: 300px;
	display: block;
	position: relative;  
	box-shadow: 0 0 1px 0 #3C4245; 
  }

ul {
	list-style-type: none;
	margin: 2em;
	padding: 0;
	height: 150px;
	overflow: hidden;
}

input {
	width : 40px;
	height : 40px;
	margin : auto;
	text-align : center;
}

li {
	float: left;
	width: 50px;
	height: 50px;
	top: 50px;
	background-color: #FF6F5E;
	border: solid #3C4245 1px;
	display: block;
	font-size: 110%;
	position: relative;  
	border-radius: 4px;
	box-sizing: border-box;
	box-shadow: 0 0 1px 0 #3C4245;  
  }

.current_position {
	background-color: #F5F0E3;
	border: solid #3C4245 2px;
}

.current_min {
	background-color: #40BFC1;
	border: solid #3C4245 1px;
}

.triee {
	background-color: #F0134D;
}

.tab {
	margin: 1em;
}

li.animate-lft {

	animation: swaplft 1s;
	animation-fill-mode: forwards;
}

li.animate-rgt {

	animation: swaprgt 1s;
	animation-fill-mode: forwards;
}

.simpleright {
	animation: simplergt 0.5s;
	animation-fill-mode: forwards;
	animation-play-state: running;
}

@keyframes swaplft {
	0% {
		transform:translateX(0px) translateY(0px);

	}
	33% {
		transform:translateX(0px) translateY(25px);

	}
	66% {
		transform:translate(50px) translateY(25px);

	}
	100% {
		transform:translate(50px) translateY(0px);

	}
}

@keyframes swaprgt {
	0% {
		transform:translateX(0px) translateY(0px);
	}
	33% {
		transform:translateX(0px) translateY(-25px);
	}
	66% {
		transform:translateX(-50px) translateY(-25px);
	}
	100% {
		transform:translateX(-50px) translateY(0px);
	}
}

@keyframes simplergt {
	0% {
		transform:translateX(0px) translateY(0px);
	}
	20% {
		transform:translateX(0px) translateY(0px);
	}
	100% {
		transform:translateX(50px) translateY(0px);
	}
}

@keyframes to_pos1 {
	0% {
		transform:translateX(0px) translateY(0px);
	}
	20% {
		transform:translateX(0px) translateY(-25px);
	}
	80% {
		transform:translateX(-350px) translateY(-25px);
	}
	100% {
		transform:translateX(-350px) translateY(0px);
	}
}
