/*
	primary item color: #F0134D
	secondary item color: #FF6F5E
	third item color: #F5F0E3
	4th  color: #40BFC1

	text, border: #3C4245;

	On pourrait utiliser les variables CSS3 pour cela
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

body {
	padding-top: 50px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	background-size: cover;
}

h1, h2 {
	display: inline-block;
}
h1 {
	font-size: 30px;
}
h2 {
	font-size: 20px;
}
span {
	background: #fd0;
}


#titre {	
	margin-bottom : 30px;
}

#description {
	margin-bottom : 30px;
}

.div_form {
	padding-top: 50px;
	float: left;
	width: 50%;
	height: 300px;
	display: block;
	position: relative;  
	box-shadow: 0 0 1px 0 #3C4245; 
  }

ul {
	list-style-type: none;
	margin: 2em;
	padding: 0;
	height: 150px;
	overflow: hidden;
}

input[type="number"] {
	
	width : 40px;
	height : 40px;
	text-align: center;
	border-radius: 4px;
	font-size: 16px;
	text-shadow: 1px 1px 1px rgba(0,0,0,.4);
	margin: auto;
	border: none;
	box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2);
	background: linear-gradient(to bottom, #fff 0%, #eee 100%);
	border-bottom: 4px solid #3C4245;
}

/* Enlever les fleches */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}
input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

li {
	float: left;
	width: 50px;
	height: 50px;
	top: 50px;
	background: linear-gradient(to bottom, #FF8173 0%, #FF6F5E 100%);
	display: block;
	font-size: 110%;
	text-shadow: 1px 1px 1px rgba(0,0,0,.4);
	line-height: parent;
	position: relative;  
	border-radius: 4px;
	box-sizing: border-box;
	border: solid 1px black;
	box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2);
	border-bottom: 4px solid #a3473c;
}
  
li.current_position {
	background: linear-gradient(to bottom, #FCF9F0 0%, #F5F0E3 100%);
	border-bottom: 4px solid #8c8677;
}
  
  
li.current_min {
	background: linear-gradient(to bottom, #4AC0C2 0%, #40BFC1 100%);
	border-bottom: 4px solid rgb(37, 109, 110);
}
  
li.triee {
	background: linear-gradient(to bottom, #F0245A 0%, #F0134D 100%);
	border-bottom: 4px solid #ba0f3d;
}


.tab {
	/*margin: 1em;
	border: 1px solid black;*/
	display: table;
	margin: 0 auto;
}

li.animate-lft {

	animation: swaplft 1s;
	animation-fill-mode: forwards;
}

li.animate-rgt {

	animation: swaprgt 1s;
	animation-fill-mode: forwards;
}

.simpleright {
	animation: simplergt 0.5s;
	animation-fill-mode: forwards;
	animation-play-state: running;
}

@keyframes swaplft {
	0% {
		transform:translateX(0px) translateY(0px);

	}
	33% {
		transform:translateX(0px) translateY(25px);

	}
	66% {
		transform:translate(50px) translateY(25px);

	}
	100% {
		transform:translate(50px) translateY(0px);

	}
}

@keyframes swaprgt {
	0% {
		transform:translateX(0px) translateY(0px);
	}
	33% {
		transform:translateX(0px) translateY(-25px);
	}
	66% {
		transform:translateX(-50px) translateY(-25px);
	}
	100% {
		transform:translateX(-50px) translateY(0px);
	}
}

@keyframes simplergt {
	0% {
		transform:translateX(0px) translateY(0px);
	}
	20% {
		transform:translateX(0px) translateY(0px);
	}
	100% {
		transform:translateX(50px) translateY(0px);
	}
}

@keyframes to_pos1 {
	0% {
		transform:translateX(0px) translateY(0px);
	}
	20% {
		transform:translateX(0px) translateY(-25px);
	}
	80% {
		transform:translateX(-350px) translateY(-25px);
	}
	100% {
		transform:translateX(-350px) translateY(0px);
	}
}
